<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Weather app</title>

 <!-- Connect to Weather.js Library -->
 

  <script src="static/weather.min.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script src="static/leaflet-heat.js"></script>

  <!-- Marker cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

  <!-- D3 Library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Plotly library-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/jquery.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>


<body>

  <!-- The div where we'll insert our map -->

      <div style='
    	  width: 900px;
        height: 800px;
        padding: 5px; 
        font: 15px Calibri;''>
        <div>Weather Observation Station Density Across Australia</div>
        <div id="positions_map"></div>
    
      <div style='
      width:900px;
      height:700px;
      padding: 5px; 
      font: 15px Calibri;'>
      <div>Mean Inaccuracy Of Individual Weather Stations</div>
      <div id="uncertainty_map"></div>

    
    <div class="well">
      <h5>State:</h5>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
    </div>
    <div id="histogram"></div>

  </div>

  <!-- JavaScript file -->
  <script type="text/javascript" src="static/app.js"></script>
  
</body>

<script>
  function getStyle(ele) {
        alert('width:' + ele.style.width + ' height: ' + ele.style.height);
    }
  
  </script>

</html>